html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* ======================================================================== ^ END OF NORMALISE */

/* ========================================================== GENERAL STYLES */

/* ------------------------------------- COLORS
DARK - #201E21
OCEAN BLUE - #0178A5
BARNEY PURPLE - #A7059B
VERY LIGHT PINK - #FFE9E9
LIGHT PINK - #F7DAE8
*/

/* ------------------------------------- ELEMENTS */

html { font-size: 62.5% }

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-size: calc(1.4rem + 0.1vw);
  /* font-size: calc(.6rem + 1vw); */
  line-height: 26px;
  letter-spacing: 0.2px;
  color: #201E21;
}

h1,
h2,
h3,
h4,
ul,
p,
button {
  margin: 0;
  padding: 0;
}

a {
  color: #201E21;
  font-weight: 500;
  text-decoration: none;
}

ul { list-style: none }

img {
  width: 100%;
  display: block;
}

/* ------------------------------------- TYPOGRAPHY */

h1,
h2,
h3,
h4 {
  font-family: 'East Sea Dokdo', sans-serif;
  font-weight: 400;
  line-height: .55;
}

h1 { font-size: 12.2rem }

h2 {
  font-size: 7.5rem;
  font-size: calc(6.4rem + 1vw);
  margin-bottom: 1.4rem;
  line-height: 56px;
}

h3 {
  font-size: 5.5rem;
  /* font-size: calc(5.2rem + .1vw); */
  font-size: calc(3.6rem + 1vw);
  margin-top: 1rem;
  line-height: 36px;
  text-align: center;
}

h4 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

/* ------------------------------------- CLASSES */

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.btn {
  border: 5px solid transparent;
  padding: 0 1.6rem;
  padding: 0 calc(.2rem + .1vw);
  color: #fff;
  font-family: 'East Sea Dokdo';
  font-size: 3.6rem;
  /* font-size: calc(3.6rem + 1vw); */
  font-weight: 400;
  transition: border 0.3s ease;
}

.btn:hover,
.btn:focus { 
  cursor: pointer;
  border-color: #201E21;
}

.btn-blue { background-color: #0178A5 }
.btn-purple { background-color: #A7059B }

/* ========================================================== HEADER SECTION */

header {
  background-image: url(../assets/group-4@2x.png);
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  position: relative;
  padding-top: 25px;
}

.menu {
  float: right;
  padding: 1rem;
  display: none;
  position: relative;
}

.menu:hover,
.menu:focus {
  cursor: pointer;
}

.menu-button { display: none;}

.menu-bar {
  background-color: #fff;
  display: inline-block;
  width: 30px;
  height:2px;
  position: relative;
}

.menu-bar::before,
.menu-bar::after {
  content: "";
  width: inherit;
  height: inherit;
  display: inline-block;
  position: absolute;
  background-color: #fff;
}

.menu-bar::before { top: 1rem; }
.menu-bar::after { top: -1rem; }

.menu-button:checked + .menu .menu-bar { background-color: transparent; }

.menu-button:checked + .menu .menu-bar::before { 
  transform: rotate(45deg); 
  top: 0;
}

.menu-button:checked + .menu .menu-bar::after { 
  transform: rotate(135deg);
  top: 0;
}

.menu-button:checked ~ ul {
  height: auto;
  overflow: none;
  padding: 50px 0;
  top: 0;
}

.menu-button:checked + .menu { 
  float: none;
  position: fixed; 
  right: 5%;
}

header li {
  float: left;
  margin-right: 10px;
}

header a { 
  padding: 2.5rem;
  position: relative;
}

header a::after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background-color:#0178A5;
  top: 70%;
  left: 25%;
  transition: all .3s ease;
  opacity: 0;
}

header a:hover::after,
header a:focus::after { 
  opacity: 1 
}

header h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* ========================================================== MAIN SECTION */


/* ------------------------------------- MAIN > NEW PRODUCT SECTION */

.new-product {
  padding: 80px 0;
  background-color: #FFE9E9;
}

.new-product-img-container,
.new-product-content {
  float: left;
}

.new-product-img-container {
  width: calc(25% - 2rem);
  margin-right: 4rem;
}

.new-product-content { width: calc(75% - 2rem) }

.new-product-content p { margin-bottom: 1rem }

/* ------------------------------------- MAIN > EXHIBITIONS SECTION */

/* TODO center the paintings */
.exhibitions {
  padding: 8rem 0 10rem;
  background-color: #F7DAE8;
}
.exhibitions h2 {
  text-align: center;
  margin-bottom: 6rem;
}

.exhibitions li {
  width: calc((100% - 7rem) / 3);
  float: left;
}

.exhibitions li:nth-of-type(2n) { margin: 0 3.5rem }

/* ------------------------------------- MAIN > FEATURES SECTION */

.features {
  background-color: #FFE9E9;
  padding: 8rem 0;
}

.feature-container {
  width: calc(100% / 3);
  float: left;
  text-align: center;
}

.features i {
  font-size: 5rem;
  color: #0178A5;
}

/* ------------------------------------- MAIN > BLOG SECTION */

.blog { background-color: #F7DAE8 }

.blog-post,
.blog-img-container {
  width: 50%;
}

.blog-container:nth-of-type(odd) .blog-post,
.blog-container:nth-of-type(odd) .blog-img-container {
  float: right;
}

.blog-container:nth-of-type(even) .blog-post,
.blog-container:nth-of-type(even) .blog-img-container {
  float: left;
}

.blog-container:nth-of-type(odd) .blog-post { padding-right: 8rem }
.blog-container:nth-of-type(even) .blog-post { padding-left: 8rem }

.blog-post { padding-top: 8rem }
.blog-post p { margin: 1.5rem 0 3rem }

/* ------------------------------------- MAIN > CONTACT SECTION */

.contact {
  background-color: #FFE9E9;
  padding: 10rem 0 7rem;
}

/* ------------ MAIN > CONTACT > NAV */

.contact nav,
.subscribe,
.contact-details {
  float: left;
}

.contact nav,
.contact-details {
  width: 25%;
}
.contact li:not(:last-child) {
  margin-bottom: 1rem;
}
.contact a { 
  transition: color .3s ease;
  /* padding: 1rem; */
}

.contact a:hover,
.contact a:focus {
  color: #0178A5;
}

/* ------------ MAIN > CONTACT > SUBSCRIBE */

.subscribe {
  width: 50%;
  text-align: center;
}

.subscribe h3 { margin: -1.5rem 0 2rem }
.subscribe p { margin: 1rem }

.subscribe input,
.subscribe button {
  float: left;
}

.subscribe input {
  width: 75%;
  border: none;
  padding: 1.7rem 0 1.7rem 2.8rem;
  padding: calc(1.7rem + .1vw) 0 calc(1.7rem + .1vw) 2.8rem;
}

.subscribe input::placeholder { color: #201E21 }
.subscribe button { width: 25% }

/* ------------ MAIN > CONTACT > CONTACT DETAILS */

.contact-details { text-align: right }

/* ========================================================== FOOTER SECTION */

footer {
  text-align: center;
  padding: 1rem;
  background-color: #201E21;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

/* ============================================== MEDIA QUERIES ============================================== */


/* ------------------------------------------------------- MAX WIDTH: 1024PX */

@media (max-width: 1024px) {
  body {
    font-size: calc(1.2rem + 0.1vw);
  }

  .new-product-img-container {
    width: calc(100% / 3 - 2rem);
    margin-right: 4rem;
  }

  .new-product-content { width: calc(100% / 3 * 2 - 2rem) }


/* --------------1024px MAIN > BLOG SECTION */

  .blog-post {
    padding-top: 4rem;
  }

  .blog-post p { margin: 1.5rem 0 1rem }

  .blog-container:nth-of-type(odd) .blog-post { padding-right: 4rem }
  .blog-container:nth-of-type(even) .blog-post { padding-left: 4rem }
}

/* --------------1024px MAIN > CONTACT SECTION */

  .subscribe input { width: 70% }
  .subscribe button { width: 30% }


/* ------------------------------------------------------- MAX WIDTH: 768PX */

@media (max-width: 768px) {

  .btn { font-size: calc(3.6rem + 1vw); }

/* --------------768px MAIN > HEADER SECTION */
  .menu {
    display: block;
    z-index: 10;
  }

  header ul {
    height: 0;
    overflow: hidden;
    float: right;
    background-color: #A7059B;
    position: absolute;
    position: fixed;
    top: -100%;
    left: -0;
    width: 100%;
    z-index: 5;
    transition: top .2s ease;
  }

  header li {
    float: none;
    margin: 4rem 2rem;
    text-align: center;
  }

  header a {
    color: #fff;
    padding: 1.5rem 20%;
    font-size: 2.2rem;
  }

  header a:hover,
  header a:focus {
    background-color: #fff;
    color: #A7059B;
  }

  header a::after { display: none }

/* --------------768px MAIN > NEW-PRODUCT SECTION */
  .new-product-img-container,
  .new-product-content {
    width: 100%;
  }

  .new-product img {
    max-height: 250px;
    object-fit: cover;
    object-position: top;
  }

  .new-product-content { text-align: center }

  .new-product-content h2,
  .new-product-content p {
    text-align: left;
  }

  .new-product-content h2 { margin-top: 4rem; }
  .new-product-content .btn { margin-top: 1rem; }

/* --------------768px MAIN > EXHIBITIONS SECTION */
  .exhibitions { padding: 5.2rem 0 8rem }

  .exhibitions h2 { margin-bottom: 3rem }

  .exhibitions li { width: calc((100% - 4rem) / 3); }
  .exhibitions li:nth-of-type(2n) { margin: 0 2rem }

/* --------------768px MAIN > BLOG SECTION */

  .blog {
    text-align: center;
  }

  .blog-post,
  .blog-img-container {
    width: 100%;
    float: none;
  }

  .blog-img-container img { 
    height: calc(100vh / 3);
    object-fit: cover;
  }

  .blog-container:nth-of-type(odd) .blog-post,
  .blog-container:nth-of-type(even) .blog-post { padding: 4rem 0 }
  
  .blog-post p { margin-bottom: 1.8rem }

  /* --------------768px MAIN > CONTACT SECTION */
  .contact { 
    padding: 4rem 0;
    text-align: center;
  }

  .subscribe h3 { margin: 2rem 0 1.5rem }

  .contact nav,
  .subscribe,
  .contact-details {
    float: none;
    width: 100%;
  }

  .contact nav { margin-bottom: 2rem }
  .contact nav li { display: inline-block }

  .contact nav li:not(:last-child) { 
    margin-bottom: 0;
    margin-right: 2rem; 
  }

  .contact a { padding: 2rem;}

  /* .subscribe h3 { margin: 0 } */

  .subscribe form {
    width: 75%;
    margin: 0 auto 2rem;
  }

  .subscribe input { padding: calc(1.5rem + 1vw) 0 calc(1.5rem + 1vw) 2.8rem }

  .contact-details { text-align: center;}
  .contact li:not(:last-child) { margin-bottom: 0 }


}

/* ------------------------------------------------------- MAX WIDTH: 480PX */

@media (max-width: 480px) {

.btn { 
  font-size: calc(3.6rem + 1vw) ;
  padding: 0 calc(3rem + .1vw);
}

/* --------------480px MAIN > EXHIBITIONS SECTION */

  .exhibitions li {
    width: calc((100% - 2rem) / 2);
  }

  .exhibitions li:nth-of-type(2n) { margin: 0 0 0 2rem }

  .exhibitions li:nth-of-type(3) {
    display: none;
  }


/* --------------480px MAIN > FEATURE SECTION */
  .features { padding: 6rem 0 }

  .feature-container {
    width: calc(100%);
    float: none;
  }

  .feature-container:not(:last-child) { margin-bottom: 4rem }

  .contact nav li:not(:last-child) { margin-right: 1rem; }
  .contact a { padding: 1rem; }

  .subscribe { margin-bottom: 3rem; }
  .subscribe form > * { float: none; }

  .subscribe form { width: 100%; }

  .subscribe input {
    width: 100%;
    margin-bottom: 1.5rem;
    text-align: center;
    padding-left: 0;
  }

  .subscribe button { width: auto }

}